<!-- app/views/carts/show.html.erb -->
<div class="container mt-5">
  <h2 class="mb-4">Your Shopping Cart</h2>

  <% if @line_items.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col"></th> <!-- For the remove button -->
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |line_item| %>
          <tr>
            <td>
              <%= line_item.product.name %>
            </td>
            <td>
              <%= number_to_currency(line_item.product.price.to_f, unit: "Rs ") %>
            </td>
            <td>
              <!-- Quantity update form -->
              <%= form_with model: line_item, url: users_line_item_path(line_item), method: :patch, local: true, class: "d-inline" do |f| %>
                <%= f.number_field :quantity, value: line_item.quantity, min: 1, class: "form-control form-control-sm w-50" %>
                <%= f.submit "Update", class: "btn btn-sm btn-primary mt-2" %>
              <% end %>
            </td>
            <td>
              <%= number_to_currency(line_item.quantity * line_item.product.price) %>
            </td>
            <td>
              <!-- Remove from cart -->
              <%= link_to 'Remove', users_line_item_path(line_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!-- Cart Summary -->
    <div class="card">
      <div class="card-body">
        <h4>Cart Summary</h4>
        <p><strong>Total Items:</strong> <%= @cart.line_items.sum(:quantity) %></p>
        <p><strong>Total Price:</strong> <%= number_to_currency(@cart.line_items.sum { |item| item.total_price }, unit: "Rs ") %></p>
        <%= link_to "Proceed to Checkout", "", class: "btn btn-success", id: "rzp-paynow-click-button" %>
      </div>
    </div>

  <% else %>
    <p>Your cart is empty. <%= link_to "Start shopping", users_products_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
<%= render 'shared/razorpay_paynow' %>
