<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= users_products_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= users_products_path %>">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge bg-danger" id="cart-item-count">
              <%= current_shopping_cart.line_items.count if user_signed_in? %>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= users_dashboard_path %>">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= users_user_path(current_user) %>">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= users_orders_path(current_user) %>">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
